body{
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin:0;
    box-sizing: border-box;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color:#00B4CC ;
    color:  #fff;
}

h1 {
    padding: 10px;
    text-align: center;
}
p{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #07164f;
    width: 30%;

}



form{
     display: flex;
    flex-direction: row;
    justify-content: center; 
    position: relative;
    display: flex;

}

button {
    height: 36px; 
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
#results {
    display:none;
    text-align: center ;
} 
hr {
    width: 70%; 
    margin: auto;
}
.centered-list {
    width: fit-content;
    margin: auto;
}

.centered-list ul {
    text-align: left;
}

.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
